<div class="leftSide">
<form class="mmmInputForm">
  <h1>mean, median, and mode</h1>
  <h2>...with Backbone!</h2>
  <p>Input your numbers as comma separated values and no spaces.</p>
  <p>Example: 1,1999,5,5,18,0,16,404,16</p>
  <input type="textarea" name="mmmInputField" placeholder="Enter numbers here"></input><br>
  <button>Calculate!</button>
</form>
</div>

<div class="rightSide">
  <div class="mmmResult">
  <ul>
    <li><h2>mean</h2><div id="meanresult">{{mean}}</div></li>
    <li><h2>median</h2><div id="medianresult">{{median}}</div></li>
    <li><h2>mode</h2><div id="moderesult">{{mode}}</div></li>
  </ul>
  </div>
</div>
