<form class="mmmInputForm">
  <h1>mean, median, and mode</h1>
  <h2>...with Backbone!</h2>
  <p>Input your numbers as comma separated values and no spaces.</p>
  <p>Example: 1,1999,5,5,18,0,16,404,16</p>
  <input type="textarea" name="mmmInputField" placeholder="Enter numbers here"></input><br>
  <button>Calculate!</button>
  <h2>mean</h2>
  <h2>median</h2>
  <h2>mode</h2>
</form>
